<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'login')}">

<body>
<div id="grve-content-area">

					<!-- Content -->
					<div id="page" class="page type-page">

		<div class="grve-section grve-feature-header grve-feature-footer" style="padding: 120px 76px; margin-bottom: 0px; visibility: visible; margin-left: -76px; margin-right: -76px;" data-section-title="" data-section-type="fullwidth-background" data-image-type="none" data-full-height="no">  
		<div class="grve-row grve-bookmark">
		<div class="wpb_column grve-column grve-bookmark grve-column-1-4"></div>
		<div class="wpb_column grve-column grve-bookmark grve-column-1-2">
		
<div th:if="${session.loggedUser == null} "> 
<h3 style="color: #212121;text-align: left" class="vc_custom_heading">LOGIN</h3>
		

 <form name="f" th:action="@{/demo/login}" method="post">  
 <div th:if="${errorMessage != null}" th:text="${errorMessage}" style="padding:0;" class="alert alert-error">    
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    You have been logged out.
                </div>
  <label>     
Username
</label>
  <p> <input type="text" id="email" name="email"  size="40" ></p>
<label>Password</label>
<p>    <input type="password" id="password" name="password"  size="40" ></p>
<p><input type="submit" value="SUBMIT" name="login-submit"
                                   id="login-submit"></p>
</form>
<div class="grve-element grve-text"><p><a href="#">Not registered? SIGN UP here.</a></p>
</div>
</div>

<!-- ELSE -->
<div th:unless="${session.loggedUser == null}">
   <p>show feed here with api</p>
</div>


<div class="grve-element grve-hr grve-space-divider" style="margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;"></div>
</div><div class="wpb_column grve-column grve-bookmark grve-column-1-4"></div>  </div></div>

					</div>
					<!-- End Content -->

					
				</div>
				</body>
				</html>
